<ion-header>

  <ion-title>
    <div class="signup-title">
      <div class="app-logo"></div>&nbsp;ProjectPro</div>
  </ion-title>

</ion-header>


<ion-content>
  <div class="sub-title"></div>
  <form (submit)="doLogin()">

    <ion-grid>
      <ion-row>
        <!-- <input type="email" [(ngModel)]="account.email" name="email" placeholder="Username (Email Address)"> -->
        <!-- <input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"> -->
        <ion-col width-100>
          <!-- <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Username (Email Address)"></ion-input> -->
            <input type="email" [(ngModel)]="account.email" name="email" placeholder="Username (Email Address)">
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col width-100>
          <!-- <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input> -->
          <input type="password" [(ngModel)]="account.password" name="password" placeholder="Password">
        </ion-col>
      </ion-row>
    </ion-grid>



    <ion-list>

      <!-- <ion-item> -->
        <!--        <label fixed>{{ 'EMAIL' | translate }}</label>-->
        <!-- <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Username (Email Address)"></ion-input> -->
        <!-- <input type="email" [(ngModel)]="account.email" name="email" placeholder="Username (Email Address)"> -->
      <!-- </ion-item> -->
      <!-- <ion-item> -->
      <!--        <label fixed>{{ 'PASSWORD' | translate }}</label>-->
      <!-- <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input> -->
      <!-- </ion-item> -->
      <ion-item>
        <input id="remember" type="checkbox" [(ngModel)]="remember" name="remember">
        <label class="remember" for="remember">Remember Me</label>
      </ion-item>
      <ion-item>
        <a href="#" (click)="resetpw()">Forgot your password?</a>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>SIGN IN</button>
      </div>

      <!-- <ion-item>
        <div>Don't have an account? <a href="#" (click)="signup()">Sign Up!</a></div>
          <div style="font-size:13pt">IT'S FREE!</div>
      </ion-item>
      -->
      <!-- <ion-item showWhen="android">
        <div>Don't have an account? <a href="#" (click)="signup()">Sign Up!</a></div>
          <div style="font-size:13pt">IT'S FREE!</div>
      </ion-item>
      <ion-item text-wrap text-center showWhen="ios">
        <a href="#" (click)="skipLogin()" style="text-decoration: none;">If you do not have a company account or a username and password, CLICK HERE to use ProjEx anyway.</a>
      </ion-item> -->
    </ion-list>
  </form>
</ion-content>
