page-payment-type-list {
    .grid {
        background-color: darkgray;
    }
}


.fixed-header{
  margin-top:63px;
  /*
   The ionic header bar is 43px in height,
   put your content below the header bar.
  */
}

.platform-webview.platform-ios.platform-cordova .fixed-header{
  margin-top:83px;
  /* On iOS, moving a div out of ion-content,
  I think you need to compensation for the 20px system status bar.
  so it's 43px+20px=63px. but I'm not so sure, it hasn't been tested.
  Test it yourself and make modifications if needed.
  */
}

.my-video
{
  // max-height: 150px;
  // height:150px;
  width:100%;
  background: white;
  position:absolute;
  z-index: 999;
}

.ion-content-below-my-video{
  // margin-top:165px !important;
}

.code-list {
  // top: 185px;
  // bottom: -185px;
  // padding-bottom: 185px;
  // margin-bottom: 185px;
}

.platform-webview.platform-ios.platform-cordova .ion-content-below-my-video{
  margin-top:185px;
  /*
  Same as .fixed-header
  */
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tip {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.cost-code-fab {
  // margin-bottom: 165px;
}
