<ion-header>

  <ion-navbar>
    <ion-title>Select Codes</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon class="nav-icon" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid>
    <ion-row class="list-col-headers">
      <ion-col col-6><b>Project:</b></ion-col>
      <ion-col col-6 class="ellipsis">{{project.number}} {{project.name}}</ion-col>
    </ion-row>
    <ion-row class="list-col-headers">
      <ion-col col-6><b>Vendor:</b></ion-col>
      <ion-col col-6 class="ellipsis">{{vendor.name}}</ion-col>
    </ion-row>
    <ion-row class="list-col-headers">
      <ion-col col-6><b>Payment Type:</b></ion-col>
      <ion-col col-6 class="ellipsis">{{paymentType.name}}</ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full (click)="done()" [disabled]="!isReadyToSave" *ngIf="!isNewCostCode">
      Done
  </button>
  <p class="tip">Tip: Rotate your device to see more</p>
</ion-header>

<!-- <div class="fixed-header my-video">

</div> -->

<ion-content class="ion-content-below-my-video">


  <ion-fab class="cost-code-fab" right bottom>
    <button ion-fab color="primary" (click)="showImage()"><ion-icon name="image"></ion-icon></button>
  </ion-fab>

  <div *ngIf="!isNewCostCode">

    <ion-list class="code-list">
      <ion-item *ngFor="let costCode of plist">
        <ion-label><b>{{costCode.costCodeNumber}}</b> {{costCode.costCodeName}}</ion-label>
        <ion-label item-right col-2>({{costCode.expenseType}})</ion-label>
        <ion-checkbox item-right [(ngModel)]="costCode.checked" (ionChange)="validate(costCode)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="isNewCostCode">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="newCostCode()">
      <button ion-button full type="submit" [disabled]="!isReadyToSave">
        Done
      </button>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Type Description of purchase here then tap DONE." formControlName="name"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
