<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Welcome to ProjectPro
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()" class="signup">Sign Up</button>
    <button ion-button block (click)="login()" class="login">Login</button>
  </div>
</ion-content>
