
<ion-menu [content]="mycontent" type="overlay">
  <ion-header>
    <ion-toolbar>
      <h5 style="text-align: center; font-weight: bold; color: white;">Change company</h5>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let company of companies" menuClose (click)="loadCompanyPurchases(company)" color="{{company.color}}">
        {{ company.name }}
      </button>
      <ion-item id="item-close" menuClose>Close Menu</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-header>
  <ion-navbar>
    <button *ngIf="showCompanyPicker" ion-button menuToggle>
      <ion-icon class="nav-icon" name="menu"></ion-icon>
    </button>
    <ion-title>View/Edit Purchases</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="confirmLogout()">
        <ion-icon class="nav-icon" name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <button ion-button full (click)="addPurchase()">
    - ADD A RECEIPT -
  </button>
  <ion-grid>
    <div *ngIf="showCompanyPicker">
      <p ion-text text-center [color]="primary">Purchases for <span style="font-weight: bold;">{{selectedCompany}}</span></p>
      <p style="font-size: 11px; text-align: center;">To change company, open the menu (
        <ion-icon name="menu"></ion-icon> )</p>
    </div>
    <ion-row class="list-col-headers">
      <ion-col col-4 (click)="doSort('date')">Date &nbsp;<i primary class="fa {{sort.date}} fa-lg"></i></ion-col>
      <ion-col col-4>Amount</ion-col>
    </ion-row>
  </ion-grid>



  <ion-list>
    <button ion-item *ngFor="let purchase of plist" (click)="viewPurchase(purchase)">
      <ion-grid>
        <ion-row class="purchases">
          <ion-col col-4>{{purchase.date | date:'MM/dd/yyyy':'+0900'}}</ion-col>
          <ion-col col-4>{{purchase.totalPurchaseAmount | currency:'USD':true:'1.2-2'}}</ion-col>
          <!-- <ion-col col-4>${{purchase.totalPurchaseAmount}}</ion-col> -->
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>

