page-list-master {
    .grid {
        padding: 0;
        .list-col-headers {
        background-color: darkgray;
            }
    }
    button.item {
        padding-left: 5px;
    }

    #item-close {
      font-size: 14px;
      background-color: #dfdfe5;
      text-align: center;
      font-weight: bold;
    }


}
