<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!viewOnly">Review &amp; Submit</ion-title>
    <ion-title *ngIf="!viewOnly">Edit</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon class="nav-icon" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><b>Project:</b></ion-col>
      <!-- <ion-col *ngIf="project.id!=0">{{project.number}}</ion-col> -->
      <ion-col> {{project.id != 0 ? project.number : ''}} {{project.name}}</ion-col>
    </ion-row>
    <ion-row *ngIf="vendor != null">
      <ion-col><b>Vendor:</b></ion-col>
      <ion-col>{{vendor.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Payment Type:</b></ion-col>
      <ion-col>{{paymentType.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8><b>Total Purchase Amount</b></ion-col>
      <ion-col text-right col-4 style="font-weight: bold">{{totalPurchaseAmount | currency:'USD':true:'1.2-2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8><b>Cost Code or Description</b></ion-col>
      <ion-col text-right col-4><b>Amount</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let cost of costs">
      <ion-col col-8>{{cost.cost.code_number}} {{cost.cost.description}}</ion-col>
      <ion-col col-4 style="text-align:right">{{cost.amount | currency:'USD':true:'1.2-2'}}</ion-col>
      <ion-col col-12 *ngIf="!viewOnly">        
        <ion-input [(ngModel)]="cost.memo" maxlength="100" type="text" value="{{ cost.memo }}" placeholder="Memo (Optional)" style="border: solid; border-color: grey; border-width: 1px;"></ion-input> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Sales Tax</ion-col>
      <ion-col col-4 style="text-align:right">{{salestax | currency:'USD':true:'1.2-2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8></ion-col>
      <ion-col col-4 style="text-align:right;border-top: 1px solid #000000;font-weight: bold">{{totalAmount | currency:'USD':true:'1.2-2'}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6><button ion-button block color="light" (click)="retake()" *ngIf="!viewOnly">Retake Photo</button></ion-col>
      <!-- <ion-col col-size-6><button ion-button block color="light" (click)="retake()" *ngIf="!viewOnly">Retake Photo of Receipt</button></ion-col> -->
      <ion-col col-6 *ngIf="!viewOnly"><button ion-button block (click)="submit()">Confirm and Submit</button></ion-col>
      <!-- <ion-col col-size-6 *ngIf="viewOnly"><button ion-button block (click)="edit()">Edit</button></ion-col> -->
    </ion-row>
    <ion-row justify-content-center>
      <div style="width: 100%">
        <img id="image" [src]="purchase.imageData" style="display: block !important; max-width: 100% !important; max-height: 100% !important" />
      </div>
    </ion-row>
  </ion-grid>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitPurchase()">
    <input name="email" type="hidden" value="{{userEmail}}">
    <input name="stamp" type="hidden" value="{{currentDate | date:'Y-m-d H:m:s'}}">
  </form>
</ion-content>
