<ion-header>

  <ion-navbar>
    <ion-title>Select Payment Type</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon class="nav-icon" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <!-- <ion-fab right bottom>
    <button ion-fab color="primary" (click)="showImage()"><ion-icon name="image"></ion-icon></button>
  </ion-fab> -->
  <div *ngIf="!isNewPaymentType">
    <ion-grid>
      <ion-row class="list-col-headers">
        <ion-col col-3><b>Vendor:</b></ion-col>
        <ion-col col-6 class="ellipsis">{{vendor.name}}</ion-col>
        <!-- <ion-col col-6 *ngIf="project.projectId!=0">{{project.number}}</ion-col> -->
      </ion-row>
    </ion-grid>

    <ion-spinner *ngIf="!dataLoadDone" class="spinner" name="ios"></ion-spinner>
    <ion-list>
      <button ion-item *ngFor="let paymentType of plist" (click)="select(paymentType)">
        <ion-row class="">
            <ion-col col-4>{{paymentType.name}}</ion-col>
        </ion-row>


    </button>
      <button ion-item *ngFor="let paymentType of noProjectPlist" (click)="select(paymentType)">
        <ion-row class="">
            <ion-col col-4>{{paymentType.name}}</ion-col>
        </ion-row>


    </button>
    </ion-list>
  </div>
  <div *ngIf="isNewPaymentType">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="newPaymentType()">
      <button ion-button full type="submit" [disabled]="!isReadyToSave">
        Done
      </button>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Type Payment Type here then tap DONE. Ex: Amex 4994, Cash, Reimbursement" formControlName="name"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
