<ion-header>

  <ion-navbar>
    <ion-title>Add Amounts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon class="nav-icon" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="showImage()"><ion-icon name="image"></ion-icon></button>
  </ion-fab>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="review()">
    <ion-grid>
      <ion-row>
        <ion-col><b>Project:</b></ion-col>
        <ion-col>{{project.id != 0 ? project.number : ''}} {{project.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><b>Vendor:</b></ion-col>
        <ion-col>{{vendor.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col><b>Payment Type:</b></ion-col>
        <ion-col>{{paymentType.name}}</ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col><b>Date of Purchase:</b></ion-col>
        <ion-col>
            <button type="button" ion-button icon-end small (tap)="selectDate()">
              {{strDop}}
              <ion-icon name="calendar" style="margin-left: 8px;"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="hasBalance">
        <ion-col col-8><b>Balance to Distribute:</b></ion-col>
        <ion-col col-4>
          <ion-input class="block-input" type="number" placeholder="" formControlName="balance" [(ngModel)]="balance" (blur)="resetAmounts()"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>Total Purchase Amount</ion-col>
        <ion-col col-4>
          <ion-input class="block-input" type="number" placeholder="" formControlName="totalpa" (focus)="showCalc($event)" readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8><b>Cost Code or Description</b></ion-col>
        <ion-col text-right col-4><b>Amount</b></ion-col>
      </ion-row>
      <ion-row *ngFor="let costCode of costcodes">
        <ion-col col-8><b>{{costCode.costCodeNumber}}</b> {{costCode.costCodeName}}</ion-col>
        <ion-col col-4>
          <ion-input class="block-input" type="number" placeholder="" formControlName="cc_{{costCode.costCodeId}}" (focus)="showCalc($event)" readonly></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>Sales Tax</ion-col>
        <ion-col col-4>
          <ion-input class="block-input" type="number" placeholder="" formControlName="salestax" (focus)="showCalc($event)" readonly></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button full type="submit" [disabled]="!isReadyToSave">
        Done
      </button>
  </form>
  <!-- <img id="image" (load)="analyze()" [src]="purchase.imageData" style="opacity:0"/> -->
  <img id="image" [src]="purchase.imageData" style="opacity:0" />
</ion-content>
