<ion-header>

  <ion-navbar>
    <ion-title>Select Project</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="home()">
        <ion-icon class="nav-icon" name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="showImage()"><ion-icon name="image"></ion-icon></button>
    <!-- <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>

  <!-- <ion-fab right top>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->

  <div *ngIf="ongoingCapture">
    <ion-grid>
      Capturing receipt...
    </ion-grid>
  </div>

  <div *ngIf="!ongoingCapture">
    <div *ngIf="!isNewProject">
      <ion-grid>
        <ion-row class="list-col-headers">
          <ion-col col-4 (click)="doSort('id')">Project # &nbsp;<i primary class="fa {{sort.projectId}} fa-lg"></i></ion-col>
          <ion-col col-8 (click)="doSort('name')">Project Name &nbsp;<i primary class="fa {{sort.projectName}} fa-lg"></i></ion-col>
        </ion-row>
      </ion-grid>


      <ion-spinner *ngIf="!dataLoadDone" class="spinner" name="ios"></ion-spinner>
      <ion-list>
        <button ion-item *ngFor="let project of plist" (click)="select(project)">
        <ion-row class="">
        <ion-col col-4>{{project.number}}</ion-col>
            <ion-col col-8>{{project.name}}</ion-col>
        </ion-row>
    </button>
      </ion-list>
      <!-- <button ion-button full (click)="noProject()">
        Purchase not associated with a project
      </button> -->
      <!-- <button ion-button full (click)="noProject()">
        Project not found
      </button> -->
    </div>
    <div *ngIf="isNewProject">
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="newProject()">
        <button ion-button full type="submit" [disabled]="!isReadyToSave">
        Done
      </button>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Type Project Name here then tap DONE." formControlName="name"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </div>
  </div>

  <!-- <button ion-button color="primary" (click)="showImage()">Show Image</button> -->
</ion-content>
